
@media(max-width:1200px){

}
@media(max-width:991px){
header .group-header .head-img-inner-first{width: 50%;}
header .group-header .head-img-inner-second{width: 50%;}
header .group-header .head-img-inner-third{width: 50%;}
header .group-header .head-img-inner-fourth{width: 50%;}
header .group-header .head-img-inner-one{width: 190px;     margin: 24px 0 0 128px;}
header .group-header .head-img-inner-two{width: 270px;      margin: 0 0 0 34px;}
header .group-header .head-img-inner-three{width: 270px; margin: 0 0 0 90px;}
header .group-header .head-img-inner-four{width: 190px;    margin: 68px 0 0 65px;}
header .header-image::before{height: 140px; width: 140px;top: 212px; left: 290px;}
header .header-image::after{height: 90px; width: 90px; top: 281px; left: 374px;}
.vonolo-pic-bottom {padding: 30px 0 30px 11px;}
.vonolo-pic-bottom p::before{left: -19px; font-size: 16px; top: 8px;}
.vonolo-slider .vonolo-slider-inner{width: 100%;     padding: 0 5px;}
.well-being .box-inner-text h4{font-size: 40px;}
.tao-vonolo p{font-size: 30px;}
.vonolo-slider .vonolo-text h3{font-size: 50px;}
.vonolo-slider .vonolo-text p{font-size: 23px; padding: 0;}
.tao-vonolo h3{font-size: 50px;}
.tao-vonolo .box-inner-text h4{font-size: 30px;}
header .header-text h1{font-size: 50px;}
header .header-text p{font-size: 30px;}
header .header-text h6{font-size: 30px;}
.learn-more h4{font-size: 24px;}
.learn-more p{font-size: 19px;}
.vonolo-slider .vonolo-inner .item-top{padding: 20px 0px 0px 32px;}
.vonolo-slider .vonolo-inner{width: 100%;}
.vonolo-slider .vonolo-inner{min-height: 367px;}
}
@media(max-width:768px){
header .header-text h1{font-size: 40px;}
header .header-text p{font-size: 23px;}
header .header-text h6{font-size: 25px;}
header .group-header .head-img-inner-first{width: 50%;}
header .group-header .head-img-inner-second{width: 50%;}
header .group-header .head-img-inner-third{width: 50%;}
header .group-header .head-img-inner-fourth{width: 50%;}
.tao-vonolo h3{font-size: 34px;}
.tao-vonolo p{font-size: 20px;}
.tao-vonolo .box-inner-text h4{font-size: 25px;}
.vonolo-pic-bottom{padding: 30px 13px 30px 24px;}
.vonolo-slider .vonolo-text h3{font-size: 40px;}
.vonolo-slider .vonolo-text p {font-size: 18px;}
.vonolo-slider .vonolo-slider-inner { width: 100%;}
.vonolo-slider .vonolo-text p{padding: 0;}
.hiring .hiring-inner .engineering.one{margin-top: 40px;}
header .group-header .head-img-inner-one{width: 100%; margin: 0 0 0 0; padding: 20px;}
header .group-header .head-img-inner-two{width: 100%; margin: 0 0 0 0; padding: 20px;}
header .group-header .head-img-inner-three{width: 100%; margin: 0 0 0 0; padding: 20px;}
header .group-header .head-img-inner-four{width: 100%; margin: 0 0 0 0; padding: 20px;}
.learn-more h4{font-size: 20px;}
.learn-more p{font-size: 16px;}
.learn-more {padding: 63px 0 20px 0;}
header .group-header{padding: 0; margin-top: 30px;}
header .header-image{margin-top: 40px;}
.tao-vonolo{display: inline-block;width: 100%;}
header .header-image::before{top: 254px; left: 264px; height: 200px; width: 200px;}
header .header-image::after{top: 289px; left: 300px; height: 100px; width: 100px;}
header .header-image::after{content: none;}
.hiring .form-group{width: 100%; padding: 0; margin-bottom: 20px;}
.hiring .form-group{width: 100%; padding: 0; margin-bottom: 20px;}
.hiring .form-fil{width: 100%;}
.hiring .hiring-inner .form-fil h4{text-align: left;}
.hiring .hiring-main .bussiness .bus-main .buss-text{width: 30%;}
.hiring .hiring-main .bussiness .associate {width: 70%;}
.hiring .hiring-inner .engineering h4{width: 30%;}
.hiring .hiring-inner .engineering p{width: 70%;}
.video-vonolo .video-inner iframe{height: 200px!important;}
.vonolo-slider .vonolo-inner .item-text h6{padding: 0;}
header .header-image::before{content: none;}
.vonolo-slider .vonolo-inner {min-height: 255px;}
.vonolo-slider .vonolo-inner .item-text p{font-size: 20px;}

}
@media(max-width:414px){
header .header-image::before{top: 129px; left: 143px; height: 95px; width: 95px;}
header .header-image::after{top: 138px; left: 152px;}
.vonolo-slider .vonolo-inner .item-top{padding: 0 3px 0 14px;}
.vonolo-slider .vonolo-inner .item-text p::before{left: -12px; top: 2px; font-size: 8px;}
.vonolo-pic-bottom p{font-size: 18px;}
.vonolo-pic-bottom span{font-size: 16px;}
header .header-text h1{font-size: 33px;}
header .header-image{margin-top: 10px; padding: 0;}
header .group-header .head-img-inner-one,header .group-header .head-img-inner-two,header .group-header .head-img-inner-one,header .group-header .head-img-inner-three,header .group-header .head-img-inner-four{padding: 5px;}
.hiring .hiring-inner .op-text {width: 100%; margin-bottom: 13px;}
.hiring .hiring-main .bussiness .bus-main .buss-text h4{font-size: 16px; margin-top: 9px;}
.hiring .hiring-main .bussiness .bus-main .associate-text h4{font-size: 12px;}
.hiring .hiring-main .bussiness .bus-main .associate-text p{font-size: 11px; margin: 6px 0 0 1px;}
.hiring .hiring-main .bussiness .bus-main .associate-text .btn{width: 64px;  margin-top: 4px; height: 28px; font-size: 9px;}
.hiring .hiring-main .hire-form{width: 100%;}
.hiring .hiring-inner .engineering h4{font-size: 16px;}
.hiring .hiring-inner .engineering p{font-size: 12px;}
header .header-text h6{font-size: 16px;}
header .header-text h1{font-size: 31px;}
header .header-text p{font-size: 16px;}
.tao-vonolo h3{font-size: 30px;}
.tao-vonolo p{font-size: 20px;}
.tao-vonolo {padding: 45px 0 50px 0;}
.tao-vonolo .box-inner-text h4{font-size: 20px;}
.item-img{width: 100%;}
.item-top{width: 100%;}
.vonolo-slider .vonolo-text h3 {font-size: 30px;}
.vonolo-slider .vonolo-text p { padding: 0;}
.vonolo-slider .vonolo-inner .item-text p{font-size: 11px;}
.vonolo-slider .vonolo-inner .item-text span{font-size: 10px!important;}
.vonolo-slider .vonolo-inner .item-text h6{font-size: 11px;}
footer h4{font-size: 15px;}
}

@media(max-width:320px){
header .header-text h1{font-size: 19px;}
header .header-text p{font-size: 12px;}
header .group-header .head-img-inner-first{width: 100%; margin-bottom: 30px;}
header .group-header .head-img-inner-second{width: 100%; margin-bottom: 30px;}
header .group-header .head-img-inner-third{width: 100%; margin-bottom: 30px;}
header .group-header .head-img-inner-fourth{width: 100%; margin-bottom: 30px;}
header .header-image::before{content: none;}
.tao-vonolo p{font-size: 17px;}
.tao-vonolo .box-inner-text h4{font-size: 22px;}
.vonolo-pic-bottom p{font-size: 15px;}
.vonolo-pic-bottom span{font-size: 14px;}
.vonolo-slider .vonolo-text h3{font-size: 33px;}
.vonolo-slider{padding: 30px 0 0 0;}
.vonolo-slider .vonolo-text p{font-size: 14px; margin: 11px 0 28px 0;}
.item-img{width: 100%;}
.item-top{width: 100%;}
.tao-vonolo{padding: 21px 0 20px 0;}
.tao-vonolo h3{font-size: 25px;}
.hiring .hiring-main .bussiness .bus-main .buss-text h4{font-size: 10px;}
.hiring .hiring-main .bussiness .bus-main .associate-text h4{font-size: 10px;}
.hiring .hiring-main .bussiness .bus-main .associate-text p{font-size: 9px;}
.hiring .hiring-main .bussiness .bus-main .associate-text .btn {width: 50px; height: 23px; font-size: 6px;}
.hiring .hiring-inner .engineering h4{font-size: 10px;}
.hiring .hiring-inner .engineering p{font-size: 10px;}
footer h4{font-size: 12px;}
.vonolo-slider .vonolo-inner{min-height: 336px;}
.vonolo-slider .vonolo-inner .item-text p{font-size: 11px;}
header{padding: 40px 0 40px 0;}
header .group-header{margin-top: 0;}
.vonolo-slider .vonolo-inner .item-text p{font-size: 9px;}
.vonolo-slider .vonolo-inner .item-text h6{ font-size: 9px;}
.vonolo-slider .vonolo-inner{min-height: 218px;}
}

