.container{max-width: 1000px!important;}
body{margin: 0; padding: 0;}
img{max-width: 100%;}
body{font-family: 'Open Sans'!important;}
h4{font-weight: bold!important; font-family: 'Open Sans'!important;}

/* header start */
header{padding: 70px 0 70px 0;}
header .header-inner{padding: 0;}
header .header-main{margin:0;}
header .header-text h6{font-size: 16px; text-transform: uppercase;   letter-spacing: 2px;}
header .header-text h1{ font-size: 42px; font-weight: bold; font-family: 'Open Sans';     margin-bottom: 13px;}
header .header-text p{ font-size: 16px; color: #3b3b3b;    line-height: 1.63; margin-bottom: 26px;}
header .header-image{position: relative; margin: 0;}
header .header-image::before{content: ""; position: absolute; background-color: rgba(255, 220, 0, 0.6);height: 95px; width: 95px; border-radius: 50%; z-index: 999; top: 179px;  left: 175px;}
header .header-image::after{content: ""; position: absolute; background-color: rgba(0, 0, 0, 0.1);height: 50px; width: 50px; border-radius: 50%; z-index: 999; top: 232px; left: 234px;}
header .group-header .head-img-inner-first{width: 35%;}
header .group-header .head-img-inner-second{width: 65%;}
header .group-header .head-img-inner-third{width: 55%;}
header .group-header .head-img-inner-fourth{width: 45%;}
header .group-header .head-img-inner-one{width: 145px;    margin: 23px 0 0 48px;}
header .group-header .head-img-inner-two{width: 208px;     margin: 0 3px 2px 82px;}
header .group-header .head-img-inner-three{width: 223px;}
header .group-header .head-img-inner-four{width: 171px;     margin: 51px 0 0px 41px;}
header .header-text .btn{ width: 139px; height: 45px; border-radius: 29px; background-color: #ffdc00; font-family: 'Open Sans'!important; font-weight: bold;}
/* header end */

/* vonolo video start */
.video-vonolo{max-width: 1350px; margin: 0 auto;}
/* vonolo video end */

/* tao-volo start */
.tao-vonolo {padding: 68px 0 50px 0;}
.tao-vonolo h3{font-size: 32px; font-weight: bold; color: #262626; margin-bottom: 9px;  font-family: 'Open Sans'!important;}
.tao-vonolo p{ color:  #979797; font-size: 16px; margin:9px 0 65px 0; line-height: 1.63;}
.tao-vonolo .box-img{width: 112px; margin:0 auto; min-height: 128px;}
.tao-vonolo .box-inner-text h4{ font-size: 20px; color: #000000;  line-height: 1.35;}
.tao-vonolo .vonolo-box{margin-bottom: 60px;}
/* tao vonolo end */

/* vonolo-pic start*/
.vonolo-pic{max-width: 1339px; margin: 0 auto;}
.vonolo-pic-bottom{background-color: #191919; padding: 48px 0 62px 0;}
.vonolo-pic-bottom p{font-size: 30px; color: #ffffff; position: relative;  line-height: 1.47;}
.vonolo-pic-bottom p::before{position: absolute; content: "\f10d"; font-family: "FontAwesome"; left: -38px; font-size: 29px;}
.vonolo-pic-bottom span{color:#ffdc00; font-size: 22px; margin-top: 15px; }
/* vonolo-pic end */

/* vonolo slider start */
.vonolo-slider {padding: 68px 0 0 0; max-width: 1440px; margin: 0 auto;}
.vonolo-slider .vonolo-inner{width: 71%; border: 1px solid#dddddd;     min-height: 442px;  border-radius: 5px;}
.vonolo-slider .vonolo-inner .item-text p{font-size: 21px; color: #262626; position: relative;     line-height: 1.43;}
.vonolo-slider .vonolo-inner .item-text p::before{position: absolute; content: "\f10d"; font-family: "FontAwesome"; left: -22px; top: 4px; font-size: 14px;}
.vonolo-slider .vonolo-inner .item-text h6{ font-size: 16px; color: #3b3b3b;     padding: 0 129px 0 0px;}
.vonolo-slider .vonolo-inner .item-text span{color: #262626; font-size: 16px!important; font-weight: bold;}
.vonolo-slider .vonolo-inner .item-top{padding: 20px 50px 20px 50px;}
.vonolo-slider .vonolo-text h3{ font-size: 32px; color: #000000; font-weight: bold;}
.vonolo-slider .vonolo-text p{ color: #3b3b3b; font-size: 16px; margin: 11px 0 71px 0;     line-height: 1.5;    padding: 0px 113px 0px 113px;}
.item-img{width: 62%}
.item-top{width: 100%;}
.owl-carousel .owl-item img{min-height: 100%;}
.vonolo-slider .vonolo-slider-inner{width: 86%;     margin: 0 0 0 auto;}
.tao-vonolo{display: inline-block; width: 100%;}

.well-being{padding-bottom: 0!important;}
.well-being h3{margin-bottom: 40px; } 
.well-being p{margin-bottom: 0px;}
.well-being .box-inner-text{margin-top: 17px;}
.well-being .box-inner-text h4{  font-size: 20px;}
/* vonolo slider end */

/* learn more start */
.learn-more{padding: 63px 0 98px 0;  background-color: #191919;}
.learn-more h3{color: #ffffff; margin-bottom: 43px;  font-size: 32px;}
.learn-more h4{  font-size: 20px; color: #fff; margin: 17px 0 5px 0; }
.learn-more p{ color: #cccccc; font-size: 16px; line-height: 1.5;}
.learn-more .learn-box{margin-bottom: 50px;}
/* learn more end */

/* hiring start */
.hiring{padding: 69px 0 20px 0;}
.hiring h3{margin: 0 0 43px 0;  font-size: 32px; font-weight: bold;}
.hiring .hiring-main .opening{border-top: 1px solid#f2f2f2; border-bottom: 1px solid#f2f2f2; padding: 15px 0;     justify-content: space-between;     flex-wrap: wrap;}
.hiring .form-group,.hiring .form-fil{padding: 0; width: 20%;}
.hiring .form-group{position: relative; padding-right:5px; margin: 0; width: 40%;}
.hiring .form-group{position: relative; padding-left:5px; margin: 0; width: 40%;}
.hiring .form-group select{height: 47px!important;}
.hiring .form-group.select1 select,.hiring .form-group.select2 select{font-size: 16px; color: #343434; background-color: #f2f2f2; font-family: 'Open Sans'!important;}
.hiring .form-group.select1::after{position: absolute; content: "\f107";  font-family: "FontAwesome"; color:#343434; right: 21px; top: 9px; font-size: 20px;}
.hiring .form-group.select2::after{position: absolute; content: "\f107";  font-family: "FontAwesome"; color:#343434; right: 21px; top: 9px; font-size: 20px;}
select{-webkit-appearance: none; appearance: none;}
.hiring .hiring-inner .form-fil h4{font-size: 16px; font-weight: bold; color: #262626; text-align: right; padding-right: 10px; margin-top: 14px;}
.hiring .hiring-inner .op-text h4{ margin: 9px 0 0 0; color: #262626; font-size: 16px; text-transform: uppercase;    letter-spacing: 1px;}
.hiring .hiring-inner .op-text{padding: 0;}
.hiring .hiring-main .hire-form{padding: 0;}
.hiring .hiring-main .bussiness .bus-main,.hiring .hiring-main .bussiness .bus-main .buss-text{padding: 0;}
.hiring .hiring-main .bussiness .bus-main .buss-text h4{color: #262626; font-size: 20px; margin: 0;}
.hiring .hiring-main .bussiness .bus-main .associate-text h4{font-size: 18px; color: #000000; margin: 8px 0 0 0;}
.hiring .hiring-main .bussiness .bus-main .associate-text p{color: #262626;  font-size: 16px;     margin: 8px 0 0 51px;}
.hiring .hiring-main .bussiness .bus-main .associate-text .btn{width: 107px; height: 40px; border-radius: 29px; background-color: #ffdc00; font-size: 16px; font-weight: bold; color: #000000;}
.hiring .hiring-main .bussiness .associate-text {justify-content: space-between; padding: 0;}
.hiring .hiring-main .bussiness .bus-main{padding: 42px 0 0 0;}
.hiring .hiring-main .bussiness .associate-text{border-bottom: 2px dotted#f2f2f2; padding-bottom: 35px;}
.hiring .hiring-main .bussiness .associate-text.second{margin-top: 30px; border-bottom: none;}
.hiring .hiring-main .bussiness .associate{padding: 0;     width: 80%;}
.hiring .hiring-inner .engineering{padding: 39px 0 39px 0;}
.hiring .hiring-inner .engineering.one{border-top: 2px solid#f2f2f2; border-bottom: 2px solid#f2f2f2; margin-top: 100px; width: 100%;}
.hiring .hiring-inner .engineering h4{font-size: 20px; color: #262626; width: 20%;}
.hiring .hiring-inner .engineering p{font-size: 16px;color: #262626; margin: 0; width: 80%;}

.hiring-main{width: 100%;}
.hiring .hiring-inner .op-text{width: 30%;}
.hiring .hiring-main .hire-form{width: 70%; text-align:right; justify-content: flex-end;     flex-wrap: wrap;}
.hiring .hiring-main .bussiness .bus-main .buss-text{width: 20%;}
/* hiring section and */

footer{background-color: #262626; padding: 29px 0 29px 0;}
footer h4{ font-size: 18px; color: #fff; margin: 0;}
video{height: auto!important;}

.owl-theme .owl-dots .owl-dot span{ width: 10px; height: 10px; margin: 27px 7px; background: #d6d6d6; display: block; border-radius: 30px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
